$titleFont: 'Bebas Neue', cursive;
$marvelRed: #ed1d24;

.container {
  .headerbox {
    h1 {
      font-family: $titleFont;
      font-size: 2.5rem;
      color: $marvelRed;
    }
  }
}

.directory {
  div {
    div{
      h1 {
        font-family: $titleFont;
        font-size: 3.5rem;
        padding-top: 50px;
      }
      .btn {
        margin-top: 200px;
        margin-left: 60px;
        text-transform: uppercase;
        background-color: $marvelRed;
        border-color: $marvelRed;
      }
    }
  }
}
